<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShelfLife</title>
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}" type="text/css">
</head>
<body>
    <nav>
        <div class="nav-logo">
            <ion-icon name="book-outline"></ion-icon>
            <h1>ShelfLife</h1>
        </div>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'search' %}">Search</a></li>
            <li><a href="{% url 'add' %}">Add</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>